{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3><a class="article-title">Welcome to Coupon World</a></h3>
        </div>
        <p class="article-content">Click on the Coupon to unveil the code.
                    Simply Copy the Coupon Code and paste it to your cart.
                    Enjoy your discounts!
                    We are happy to help.
        </p>
    </div>
</article>
{% endblock content %}
